/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "42-keys.h"

&mt {
	tapping-term-ms = <175>;
	quick-tap-ms = <150>;
};

/ {
	macros {
		#define MACRO(NAME, BINDINGS) \
			NAME: NAME { \
				compatible = "zmk,behavior-macro"; \
				#binding-cells = <0>; \
				wait-ms = <30>; \
				tap-ms = <40>; \
				bindings = <BINDINGS>; \
			};
		MACRO(thorn, &kp PAUSE_BREAK &kp T &kp H)
		MACRO(eng, &kp PAUSE_BREAK &kp N &kp G)
	};

	combos {
		compatible = "zmk,combos";
		#define COMBO(NAME, BINDINGS, KEYPOS) \
			combo_##NAME { \
				bindings = <BINDINGS>; \
				layers = <0>; \
				key-positions = <KEYPOS>; \
				timeout-ms = <50>; \
			};
		COMBO(cut, &kp LC(X), LT2 LT3) // , .
		COMBO(copy, &kp LC(C), LT2 LT3 LT4) // , . p
		COMBO(paste, &kp LC(V), LT2 LT4) // , p
		COMBO(thorn, &thorn, RM1 RM2) // h t -> þ
		COMBO(eng, &eng, RT1 RM3) // g n -> ŋ
		COMBO(lpar, &kp LPAR, LT2 LM2) // , o -> (
		COMBO(rpar, &kp RPAR, LT3 LM3) // . e -> )
		COMBO(lbkt, &kp LBKT, LM2 LB2) // o q -> [
		COMBO(rbkt, &kp RBKT, LM3 LB3) // e j -> ]
		COMBO(esc, &kp ESC, LT0 LT1) // TAB ' -> ESC
		COMBO(caps, &kp CAPS, LT0 LM0) // = ` -> CAPS
	};

	behaviors {
		#include "homerow-mods.dtsi"
		mod_tog: modifier_layer_tog {
			compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
			tapping_term_ms = <175>;
			quick_tap_ms = <150>;
			flavor = "hold-preferred";
			bindings = <&kp>, <&tog>;
		};
	};

	keymap {
		compatible = "zmk,keymap";

		#define ___ &trans
		#define XXX &none
		#define L1(key) &lt 1 key
		#define L2(key) &lt 2 key

		#define GL(key) &mt LGUI key
		#define CL(key) &mt LCTL key
		#define AL(key) &mt LALT key
		#define SL(key) &mt LSFT key

		#define GR(key) &mt RGUI key
		#define CR(key) &mt RCTL key
		#define AR(key) &mt RALT key
		#define SR(key) &mt RSFT key

		#define LCT(layer) &mod_tog LCTL layer
		#define RCT(layer) &mod_tog RCTL layer
		
		default_layer {
			display-name = "BASE";
			/*
			 *  0	TAB	'	,	.	P	Y	F	G	C	R	L	/
			 *  1	=	A	O	E	U	I	D	H	T	N	S	-
			 *  2	`	;	Q	J	K	X	B	M	W	V	Z	\
			 *  3				DEL	ESC	BSP	SPC	CAP	RET
			 */
			bindings = <
				&kp TAB		&kp SQT	&kp COMMA	&kp DOT	&kp P	&kp Y	&kp F		&kp G	&kp C	&kp R	&kp L	&kp FSLH
				&kp EQUAL	&kp A	&kp O		&kp E	&kp U	&kp I	&kp D		&kp H	&kp T	&kp N	&kp S	&kp MINUS
				GR(GRAVE)	&kp SEMI	&kp Q		&kp J	&kp K	&kp X	&kp B		&kp M	&kp W	&kp V	&kp Z	GR(BSLH)
												AL(DEL)	LCT(1)	SL(BSPC)	SR(SPACE)	RCT(2)	AR(RET)
			>;
		};
		num_layer {
			display-name = "NUM | NAV";
			/*
			 *	___	PSC	HOM	UP	PUP	MO3	MO3	7	8	9	XXX	___
			 *	___	.	LFT	APP	RHT	XXX	XXX	4	5	6	.	___
			 *	___	___	END	DN	PDN	XXX	XXX	1	2	3	___	___
			 *				___	0	___	___	0	___
			 */
			bindings = <
				___	&kp PSCRN	&kp HOME	&kp UP		&kp PG_UP	&mo 3	&mo 3	&kp N7	&kp N8	&kp N9	XXX		___
				___	XXX			&kp LEFT		&kp K_APP	&kp RIGHT	XXX		XXX		&kp N4	&kp N5	&kp N6	&kp DOT	___
				___	___			&kp END		&kp DOWN	&kp PG_DN	XXX		XXX		&kp N1	&kp N2	&kp N3	___		___
											___			LCT(1)		___		___		CR(N0)	___
			>;
		};
		nav_layer {
			display-name = "NAV | NUM";
			/*
			 *	___	XXX	7	8	9	MO3	MO3	HOM	UP	PUP	PSC	___
			 *	___	.	4	5	6	XXX	XXX	LFT	APP	RHT	DEL	___
			 *	___	___	1	2	3	XXX	XXX	END	DN	PDN	INS	___
			 *				___	0	___	___	___	___
			 */
			bindings = <
				___	XXX		&kp N7	&kp N8	&kp N9	&mo 3	&mo 3	&kp HOME	&kp UP		&kp PG_UP	&kp PSCRN	___
				___	&kp DOT	&kp N4	&kp N5	&kp N6	XXX		XXX		&kp LEFT		&kp K_APP	&kp RIGHT	&kp DEL		___
				___	XXX		&kp N1	&kp N2	&kp N3	XXX		XXX		&kp END		&kp DOWN	&kp PG_DN	&kp INS		___
									___		CL(N0)	___		___		RCT(2)		___
			>;
		};
		func_layer {
			display-name = "FUNC";
			/*
			 *	___	F10	F7	F8	F9	___	___	F7	F8	F9	F10	___
			 *	___	F11	F4	F5	F6	XXX	XXX	F4	F5	F6	F11	___
			 *	___	F12	F1	F2	F3	XXX	XXX	F1	F2	F3	F12	___
			 *				___	___	___	___	___	___
			 */
			bindings = <
				___	&kp F10	&kp F7	&kp F8	&kp F9	___	___	&kp F7	&kp F8	&kp F9	&kp F10	___
				___	&kp F11	&kp F4	&kp F5	&kp F6	XXX	XXX	&kp F4	&kp F5	&kp F6	&kp F11	___
				___	&kp F12	&kp F1	&kp F2	&kp F3	XXX	XXX	&kp F1	&kp F2	&kp F3	&kp F12	___
									___		___		___	___	___		___
			>;
		};
	};
};
