#define CUSTOM_MOD_TAP(NAME, CUSTOM) \
	cmt_##NAME: custom_mod_tap_##NAME { \
		compatible = "zmk,behavior-hold-tap"; \
		#binding-cells = <2>; \
		flavor = "hold-preferred"; \
		tapping_term_ms = <175>; \
		quick_tap_ms = <150>; \
		bindings = <&kp>, <CUSTOM>; \
	};

CUSTOM_MOD_TAP(ls_tilde, &re_tilde)
