#define MACRO(NAME, BINDINGS) \
	NAME: NAME { \
		compatible = "zmk,behavior-macro"; \
		#binding-cells = <0>; \
		wait-ms = <30>; \
		tap-ms = <40>; \
		bindings = <BINDINGS>; \
	};

MACRO(oeth, &kp PAUSE_BREAK &kp D &kp H)
MACRO(thorn, &kp PAUSE_BREAK &kp T &kp H)
MACRO(eng, &kp PAUSE_BREAK &kp N &kp G)
MACRO(wynn, &kp PAUSE_BREAK &kp W &kp Y)
